# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/

# Dataset
data/
dataset/
models/
output/
# Logs
*.log

# OS files
.DS_Store
.yaml
# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# temp
tmp/
